<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <a class="navbar-brand" routerLinkActive="active" routerLink="daily">Meditation</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="daily">Méditation quotidienne</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="list">Listes des méditations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="new">Ajouter</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active">
        <a class="nav-link" routerLink="auth/signup">Créer un compte</a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" routerLink="auth/signin">Connexion</a>
      </li>
    </ul>
  </div>
</nav>
