<!-- Footer -->
<footer class="page-footer font-small pt-4 bg-success text-light">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Meditation</h5>
          <p>Prendre soin de soi chaque jour, grâce à la méditation.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Découverte</h5>
          <p>Découvre chaque jour un nouvel exercice. Connecte-toi, pour créer ta liste de méditation.</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Text -->

  </footer>
  <!-- Footer -->
