<div class="row">
  <div class="col-sm-7 col-sm-offset-2">
    <h2>Se connecter</h2>
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
         <mat-form-field class="w-100">
            <input matInput placeholder="Adresse email" type="text" id="email" formControlName="email" class="w-100" >
          </mat-form-field>
      </div>

      <div class="form-group">
          <mat-form-field class="w-100">
              <input matInput placeholder="Mot de passe" type="password" id="password" formControlName="password">
          </mat-form-field>
      </div>
      <button mat-button type="submit"  color="primary" [disabled]="signinForm.invalid">Se connecter</button>

    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>
